@import "functions";

@mixin apply-if-not-empty($property, $value) {
  @if $value != "" and $value != null {
    #{$property}: #{$value};
  }
}

$parsedSettings: parseObjectSettings($links);

.banner-featured-links {
  &__wrapper {
    @include apply-if-not-empty(margin, $buttons_wrapper_margin);
    @include apply-if-not-empty(max-width, $buttons_wrapper_max_width);

    @include breakpoint(mobile-extra-large) {
      @include apply-if-not-empty(margin, $mobile_buttons_wrapper_max_width);
      @include apply-if-not-empty(max-width, $mobile_buttons_wrapper_max_width);
    }
  }

  &__wrapper-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @include apply-if-not-empty(justify-content, $buttons_justify);
    @include apply-if-not-empty(gap, $buttons_gap);
    @include apply-if-not-empty(font, $buttons_font);

    @include breakpoint(mobile-extra-large) {
      @include apply-if-not-empty(flex-direction, $mobile_buttons_direction);
      @include apply-if-not-empty(justify-content, $mobile_buttons_justify);
      @include apply-if-not-empty(gap, $mobile_buttons_gap);
      @include apply-if-not-empty(font, $mobile_buttons_font);
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    flex: 0 0 auto;
    text-wrap: nowrap;

    @include apply-if-not-empty(padding, $button_padding);
    @include apply-if-not-empty(flex-basis, $button_width);
    @include apply-if-not-empty(border-radius, $button_rounding);
    @include apply-if-not-empty(border, $button_border);
    @include apply-if-not-empty(box-shadow, $button_shadow);
    @include apply-if-not-empty(color, $button_color);
    @include apply-if-not-empty(background-color, $button_background);

    &:hover {
      @include apply-if-not-empty(background-color, $button_background_hover);
      @include apply-if-not-empty(border, $button_border_hover);
      @include apply-if-not-empty(color, $button_color_hover);
    }

    @for $index from 1 through length($parsedSettings) {
      $item: nth($parsedSettings, $index);
      $identifier: #{map-get($item, "button_identifier")};

      @if $identifier == "" {
        $identifier: "bfl-link-#{$index - 1}";
      }

      &.#{$identifier} {
        @include apply-if-not-empty(flex-basis, map-get($item, "button_width"));
        @include apply-if-not-empty(font, map-get($item, "button_font"));
        @include apply-if-not-empty(padding, map-get($item, "button_padding"));
        @include apply-if-not-empty(
          border-radius,
          map-get($item, "button_rounding")
        );
        @include apply-if-not-empty(
          background-color,
          map-get($item, "button_background")
        );
        @include apply-if-not-empty(color, map-get($item, "button_color"));
        @include apply-if-not-empty(border, map-get($item, "button_border"));
        @include apply-if-not-empty(
          box-shadow,
          map-get($item, "button_shadow")
        );
      }

      &.#{$identifier}:hover {
        @include apply-if-not-empty(
          background-color,
          map-get($item, "button_background_hover")
        );
        @include apply-if-not-empty(
          border,
          map-get($item, "button_border_hover")
        );
        @include apply-if-not-empty(
          color,
          map-get($item, "button_color_hover")
        );
      }
    }
  }
}
